// colors
$accent-color: #df8928;
$base-color-text: #4b4b4b;

// @media breakpoints
$breakpoint-xxl: 1400px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
