@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Work Sans";
  background: var(--main-color);
}

:root {
  --main-color:#121B25;
  --accent-color:#1AA090;
}

.noScroll {
  overflow: hidden;
}

._title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.875rem, 0.811rem + 2.43vw, 3rem);
  line-height: 126%;
  text-transform: capitalize;
  color: white;
}

._text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.696rem + 0.48vw, 1.125rem);
  line-height: 170%;
  color: #D6D6D6;
}

._all-container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1.563rem, 0.651rem + 2.08vw, 2.5rem) 15px;
}
.header__logo div {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.688rem, 1.152rem + 1.43vw, 2.438rem);
  line-height: 47px;
  text-transform: capitalize;
  color: white;
}
.header__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(2.813rem, -1.874rem + 7.32vw, 4.625rem);
       column-gap: clamp(2.813rem, -1.874rem + 7.32vw, 4.625rem);
  z-index: 98;
}
.header__menu ul {
  display: flex;
}
.header__menu ul > li + li {
  margin-left: 38px;
}
.header__menu ul li a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #D6D6D6;
}
.header__menu ul li a:hover {
  color: white;
  border-bottom: 2px solid var(--accent-color);
}
.header__buttons button {
  padding: 11px clamp(1.25rem, 0.703rem + 1.25vw, 1.813rem);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.75rem + 0.33vw, 1rem);
  line-height: 19px;
  text-transform: capitalize;
  color: #D6D6D6;
  border-radius: 5px;
  background: var(--accent-color);
  margin-right: 5px;
}
.header__burger {
  display: none;
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 20px;
}
.header__burger::before {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}
.header__burger span {
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.header__burger::after {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__burger.active::before {
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
}
.header__burger.active span {
  display: none;
}
.header__burger.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 100%);
}

@media (max-width: 1024px) {
  .header__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__menu ul {
    transition: 0.3s;
    position: fixed;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__menu ul > li + li {
    margin-left: 0;
  }
  .header__menu ul > li + li {
    border-top: 1px solid rgba(160, 160, 160, 0.545);
  }
  .header__menu ul li a {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .header__menu ul li a:hover {
    border-bottom: none;
  }
  .header__menu ul.open {
    background: rgba(10, 14, 20, 0.9607843137);
    position: fixed;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 868px) {
  .header__logo img {
    width: 115px;
  }
  .header__buttons button:nth-child(2) {
    display: none;
  }
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.481);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal-1__body {
  position: relative;
  background: white;
  border-radius: 5px;
  width: 30%;
  transition: 0.3s;
  transform: translate(0, 270px);
}
.modal-1 form {
  display: flex;
  flex-direction: column;
  width: 87%;
  margin: clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem) auto clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem) auto;
  row-gap: clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem);
}
.modal-1__input {
  border: 1px solid rgba(128, 128, 128, 0.328);
  border-radius: 3px;
  padding: 7px 10px;
  font-size: clamp(0.938rem, 0.838rem + 0.32vw, 1.125rem);
}
.modal-1__check {
  display: flex;
  align-items: center;
}
.modal-1__check label {
  margin-left: 3px;
}
.modal-1__button {
  padding: clamp(0.625rem, 0.459rem + 0.53vw, 0.938rem) 7px;
  border-radius: 5px;
  background: var(--accent-color);
  color: white;
  font-size: clamp(0.938rem, 0.838rem + 0.32vw, 1.125rem);
}
.modal-1__forget {
  text-align: center;
}
.modal-1__close {
  top: -8%;
  right: -8%;
  display: block;
  position: absolute;
  cursor: pointer;
  width: 27px;
  height: 20px;
}
.modal-1__close::before {
  content: "";
  width: 100%;
  height: 13%;
  background: rgb(220, 220, 220);
  position: absolute;
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
  left: 0;
}
.modal-1__close::after {
  content: "";
  width: 100%;
  height: 13%;
  background: rgb(220, 220, 220);
  position: absolute;
  transform: rotate(-45deg) translate(0, 100%);
  bottom: 50%;
  left: 0;
}
.modal-1__close:hover::before {
  box-shadow: 1px 1px 8px 1px rgba(203, 203, 203, 0.57);
}
.modal-1__close:hover::after {
  box-shadow: 1px 1px 8px 1px rgba(203, 203, 203, 0.57);
}

.modal-1.active {
  visibility: visible;
  opacity: 1;
}
.modal-1.active .modal-1__body {
  transform: translate(0, 0);
}

.tabs {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.tabs__one, .tabs__two {
  font-size: clamp(1.25rem, 0.918rem + 1.06vw, 1.875rem);
  padding: 10px 15px;
  text-align: center;
  background: rgba(128, 128, 128, 0.459);
  color: gray;
}
.tabs__one:hover, .tabs__two:hover {
  transition: 0.3s;
  background: rgb(220, 220, 220);
}
.tabs__one {
  border-radius: 5px 0 0 0;
}
.tabs__one:target {
  background: red;
}
.tabs__two {
  border-radius: 0 5px 0 0;
}
.tabs__active {
  background: white;
  color: black;
}
.tabs__active:hover {
  transition: 0;
  background: none;
}

@media (max-width: 1500px) {
  .modal-1__body {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .modal-1__body {
    width: 50%;
  }
}
@media (max-width: 868px) {
  .modal-1__body {
    width: 80%;
  }
}
.info {
  position: relative;
}
.info > img {
  position: absolute;
  right: 0;
  bottom: -50%;
  max-width: 100%;
}
@media (max-width: 1750px) {
  .info > img {
    display: none;
  }
}
.info__container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}
.info__title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.875rem, 1.148rem + 3.64vw, 4.375rem);
  line-height: 126%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.info__text {
  margin-top: clamp(0.625rem, 0.48rem + 0.73vw, 1.125rem);
  margin-bottom: clamp(1.875rem, 1.33rem + 2.73vw, 3.75rem);
}
.info__form {
  width: 120%;
  background: white;
}
.info__image {
  z-index: -1;
}
.info img {
  max-width: 100%;
}

.buy {
  border-radius: 10px;
  background: white;
  width: 120%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.buy > div + div {
  border-left: 1px solid rgb(215, 215, 215);
}
.buy__block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.buy__title {
  display: flex;
  align-items: center;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.82rem + 0.27vw, 1.063rem);
  line-height: 19px;
  color: #858585;
}
.buy__title img {
  transition: 0.3s;
  margin-left: 4px;
}
.buy__name {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.188rem);
  line-height: 126%;
  text-transform: capitalize;
  color: #121B25;
}
.buy__list {
  display: none;
  position: absolute;
  top: 100%;
  background: white;
  width: 100%;
}
.buy__list ul li {
  padding: 10px 20px;
}
.buy__list ul li:hover {
  background: rgb(202, 200, 200);
}
.buy__list ul > li + li {
  border-top: 1px solid rgb(197, 197, 197);
}
.buy__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buy__button button {
  background: var(--accent-color);
  width: 95%;
  height: 90%;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.063rem, 1.008rem + 0.27vw, 1.25rem);
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
  border-radius: 0 10px 10px 0;
}

.buy__block:first-child.open {
  background: white;
  border-radius: 10px 0 0 0;
}

.buy__block.open .buy__title img {
  transform: rotate(180deg);
}
.buy__block.open .buy__list {
  display: block;
}

@media (max-width: 968px) {
  .info__container {
    grid-template-columns: 1fr;
  }
  .info__image {
    margin: 10px auto 0 auto;
  }
  .buy {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .buy {
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px;
  }
  .buy div:last-child {
    border-left: none !important;
  }
  .buy__button {
    grid-column: 1/4;
    width: 100%;
  }
  .buy__button button {
    border-radius: 10px;
    padding: 10px 0;
    width: 99%;
  }
  .buy__list ul li {
    padding: 10px 10px;
    font-size: 12px;
  }
}
.logos {
  margin-top: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
  margin-bottom: clamp(1.875rem, -0.852rem + 13.64vw, 11.25rem);
}
.logos__layout {
  margin-top: clamp(1.875rem, 1.511rem + 1.82vw, 3.125rem);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.logos__layout img {
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 968px) {
  .logos__layout {
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 15px;
  }
  .logos__layout img:nth-child(5) {
    grid-column: 1/3;
  }
  .logos__layout img {
    max-width: 100%;
  }
}
@media (max-width: 968px) {
  .logos img {
    max-width: 60%;
  }
}
@media (max-width: 368px) {
  .logos__layout {
    grid-template-columns: 1fr;
  }
  .logos__layout img:nth-child(5) {
    grid-column: -1/1;
  }
}
.popular {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 0;
  background: #1A242F url("../image/bg.png") center center/cover no-repeat;
}
.popular__slider {
  position: relative;
  margin-top: 40px;
}
.popular__button {
  text-align: center;
  margin-top: 67px;
}
.popular__button button {
  border-radius: 7px;
  background: var(--accent-color);
  display: inline-block;
  padding: clamp(0.938rem, 0.81rem + 0.64vw, 1.375rem) clamp(1.563rem, 1.199rem + 1.82vw, 2.813rem);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(1.25rem, 1.177rem + 0.36vw, 1.5rem);
  line-height: 28px;
  text-transform: capitalize;
  color: #FFFFFF;
}
.popular__button button:hover {
  background: #15786c;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: inline-flex;
}

.slider-buttons {
  position: absolute;
  top: 35%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popular-slider-prev {
  position: absolute;
  left: -130px;
}

.popular-slider-next {
  position: absolute;
  right: -130px;
  transform: rotate(180deg);
}

.popular-slider-btn {
  cursor: pointer;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: url("../icons/slide-vector.svg") center center no-repeat;
  border: 1px solid white;
}

.popular-slide {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.popular-slide__thumb img {
  max-width: 100%;
}
.popular-slide__title {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 126%;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
}
.popular-slide__labels {
  display: flex;
  gap: 20px;
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
}
.popular-slide__label span {
  color: white;
}

@media (max-width: 1800px) {
  .slider-buttons {
    top: -100px;
    right: 0;
    width: auto;
    gap: 20px;
  }
  .popular-slider-btn {
    position: static;
  }
}
@media (max-width: 686px) {
  .popular-slide {
    text-align: center;
  }
  .popular-slide__labels {
    justify-content: center;
  }
  .slider-buttons {
    display: none;
  }
}
.why {
  background: url("../image/arrow shade pattern.svg") no-repeat;
}
.why__container {
  padding: clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 20px clamp(1.875rem, -0.489rem + 11.82vw, 10rem) 20px;
}

@media (max-width: 968px) {
  .why {
    background-position: -150px 0;
  }
}
@media (max-width: 768px) {
  .why {
    background-position: -200px 0;
  }
}
.choose__title {
  text-align: center;
}
.choose__wrapper {
  margin-top: clamp(2.5rem, 2.136rem + 1.82vw, 3.75rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: clamp(3.125rem, 2.161rem + 4.82vw, 6.438rem);
}
.choose__block {
  text-align: center;
}
.choose__logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(26, 160, 144, 0.2941176471);
  height: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
  width: clamp(6.25rem, 4.795rem + 7.27vw, 11.25rem);
}
.choose__logo img {
  max-width: 100%;
}
.choose__name {
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.25rem, 1.141rem + 0.55vw, 1.625rem);
  line-height: 126%;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin: clamp(1.375rem, 1.12rem + 1.27vw, 2.25rem) 0 clamp(0.5rem, 0.373rem + 0.64vw, 0.938rem) 0;
}

@media (max-width: 768px) {
  .choose__wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .choose__logo img {
    max-width: 60%;
  }
  .choose__text {
    max-width: 70%;
    margin: 0 auto;
  }
}
.reviews {
  margin-top: clamp(3.125rem, 2.307rem + 4.09vw, 5.938rem);
}
.reviews .swiper-wrapper {
  align-items: flex-start;
}
.reviews__container {
  max-width: 1020px;
  margin: 0 auto;
  position: relative;
  padding-top: 165px;
}
@media (max-width: 1000px) {
  .reviews__container {
    padding-top: 135px;
  }
}
.reviews__quotes {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 260px;
  text-transform: capitalize;
  color: var(--accent-color);
}
@media (max-width: 1000px) {
  .reviews__quotes {
    font-size: 200px;
  }
}

.slider-reviews__text {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(1.25rem, 1.032rem + 1.09vw, 2rem);
  line-height: 157%;
  text-transform: capitalize;
  color: #FFFFFF;
}
.slider-reviews__info {
  margin-top: 40px;
}
.slider-reviews__name {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: white;
}
.slider-reviews__buttons {
  height: 60px;
  align-items: center;
  display: flex;
  gap: 70px;
  width: 115px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.slider-reviews__buttons:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  background: #353F49;
  width: 1px;
}

.slider-reviews-btn.swiper-button-disabled svg {
  fill: gray;
}
.slider-reviews-btn svg {
  fill: white;
}

.slider-reviews-prev {
  transform: rotate(180deg);
}

@media (max-width: 568px) {
  .slider-reviews__buttons {
    gap: 45px;
    width: 95px;
  }
}
@media (max-width: 468px) {
  .slider-reviews__buttons {
    gap: 45px;
    width: 75px;
    height: 50px;
  }
  .slider-reviews__buttons svg {
    width: 15px;
  }
}