@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Work Sans";
  background: var(--main-color);
}

:root {
  --main-color:#121B25;
  --accent-color:#1AA090;
}

.noScroll {
  overflow: hidden;
}

._title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.875rem, 0.811rem + 2.43vw, 3rem);
  line-height: 126%;
  text-transform: capitalize;
  color: white;
}

._text {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.696rem + 0.48vw, 1.125rem);
  line-height: 170%;
  color: #D6D6D6;
}

._all-container {
  max-width: 1450px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: clamp(1.563rem, 0.651rem + 2.08vw, 2.5rem) 15px;
}
.header__logo div {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: clamp(1.688rem, 1.152rem + 1.43vw, 2.438rem);
  line-height: 47px;
  text-transform: capitalize;
  color: white;
}
.header__menu {
  display: flex;
  align-items: center;
  -moz-column-gap: clamp(2.813rem, -1.874rem + 7.32vw, 4.625rem);
       column-gap: clamp(2.813rem, -1.874rem + 7.32vw, 4.625rem);
  z-index: 98;
}
.header__menu ul {
  display: flex;
}
.header__menu ul > li + li {
  margin-left: 38px;
}
.header__menu ul li a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #D6D6D6;
}
.header__menu ul li a:hover {
  color: white;
  border-bottom: 2px solid var(--accent-color);
}
.header__buttons button {
  padding: 11px clamp(1.25rem, 0.703rem + 1.25vw, 1.813rem);
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.875rem, 0.75rem + 0.33vw, 1rem);
  line-height: 19px;
  text-transform: capitalize;
  color: #D6D6D6;
  border-radius: 5px;
  background: var(--accent-color);
  margin-right: 5px;
}
.header__burger {
  display: none;
  position: relative;
  cursor: pointer;
  width: 27px;
  height: 20px;
}
.header__burger::before {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
}
.header__burger span {
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.header__burger::after {
  transition: 0.3s;
  content: "";
  width: 100%;
  height: 13%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
.header__burger.active::before {
  top: 50%;
  transform: rotate(45deg) translate(0, -50%);
}
.header__burger.active span {
  display: none;
}
.header__burger.active::after {
  bottom: 50%;
  transform: rotate(-45deg) translate(0, 100%);
}

@media (max-width: 1024px) {
  .header__menu {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .header__menu ul {
    transition: 0.3s;
    position: fixed;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.475);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .header__menu ul > li + li {
    margin-left: 0;
  }
  .header__menu ul > li + li {
    border-top: 1px solid rgba(160, 160, 160, 0.545);
  }
  .header__menu ul li a {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .header__menu ul li a:hover {
    border-bottom: none;
  }
  .header__menu ul.open {
    background: rgba(10, 14, 20, 0.9607843137);
    position: fixed;
    left: 0;
    opacity: 1;
    visibility: visible;
    overflow: auto;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 868px) {
  .header__logo img {
    width: 115px;
  }
  .header__buttons button:nth-child(2) {
    display: none;
  }
}