@import 'RESET.scss';

//-------------root-------------
body {
	font-family: 'Work Sans';
	background: var(--main-color);
}

:root {
	--main-color:#121B25;
	--accent-color:#1AA090;
}

.noScroll {
	overflow: hidden;
}

._title {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 600;
	font-size: clamp(1.875rem, 0.811rem + 2.43vw, 3rem);
	line-height: 126%;
	text-transform: capitalize;
	color: white;
}

._text {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: clamp(0.875rem, 0.696rem + 0.48vw, 1.125rem);
	line-height: 170%;
	color: #D6D6D6;
}

._all-container {
	max-width: 1450px;
	padding: 0 15px;
	margin: 0 auto;
}

//------------------HEADER--------------

.header {

	
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: clamp(1.563rem, 0.651rem + 2.08vw, 2.5rem) 15px;
	}

	&__logo {

		div {
			font-family: 'Work Sans';
			font-style: normal;
			font-weight: 600;
			font-size: clamp(1.688rem, 1.152rem + 1.43vw, 2.438rem);
			line-height: 47px;
			text-transform: capitalize;
			color: white;
		}
	}

	&__menu {
		display: flex;
		align-items: center;
		column-gap: clamp(2.813rem, -1.874rem + 7.32vw, 4.625rem);
		z-index: 98;
		ul {
			display: flex;

			> li + li {
				margin-left: 38px;
			}
			li {

				a {
					font-family: 'Work Sans';
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 19px;
					text-transform: capitalize;
					color: #D6D6D6;
					&:hover {
						color: white;
						border-bottom: 2px solid var(--accent-color);
					}
				}
			}
		}
	}

	&__buttons {

		button {
			padding: 11px clamp(1.25rem, 0.703rem + 1.25vw, 1.813rem);
			font-style: normal;
			font-weight: 500;
			font-size: clamp(0.875rem, 0.75rem + 0.33vw, 1rem);
			line-height: 19px;
			text-transform: capitalize;
			color: #D6D6D6;
			border-radius: 5px;
			background: var(--accent-color);
			margin-right: 5px;
		}
	}
	
	&__burger {
		display: none;
		position: relative;
		cursor: pointer;
		width: 27px;
		height: 20px;
		&::before {
			transition: 0.3s;
			content: '';
			width: 100%;
			height: 13%;
			background: white;
			position: absolute;
			top: 0;
			left: 0;
		}
		span {
			width: 100%;
			height: 13%;
			background: white;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
		}
		&::after {
			transition: 0.3s;
			content: '';
			width: 100%;
			height: 13%;
			background: white;
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	&__burger.active {
		&::before {
			top: 50%;
			transform: rotate(45deg) translate(0,-50%);
		}
		span {
			display: none;
		}
		&::after {
			bottom: 50%;	
			transform: rotate(-45deg) translate(0,100% );
		}
	}
}

@media(max-width:1024px) {
	.header {
		&__menu {
			
			ul {
				transition: 0.3s;
				position: fixed;
				left: -100%;
				opacity: 0;
				visibility: hidden;
				background: rgba(0, 0, 0, 0.475);
				width: 100%;
				height: 100vh;
				display: flex;
				flex-direction: column;
				> li + li {
					margin-left: 0;
				}
				text-align: center;
				> li + li {
					border-top:1px solid rgba(160, 160, 160, 0.545);
				}
				li {
					a {
						display: block;
						width: 100%;
						padding: 20px 0;
						&:hover {
							border-bottom:  none;
						}
					}
				}
			}
			ul.open {
				background: #0a0e14f5;
				position: fixed;
				left: 0;
				opacity: 1;
				visibility: visible;
				overflow: auto;
				
			}
			column-gap: 20px;
		}
		&__burger {
			display: block;
		}
	}
}

@media (max-width:868px) {
	.header {

		&__logo {
			img {
				width: 115px;
			}
		}
		&__buttons {

			button:nth-child(2) {
				display: none;
			}
		}
	}
}

//-----------HEADER-MODAL---------------

.modal {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.481);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.modal-1 {
	
	&__body {
		position: relative;
		background: white;
		border-radius: 5px;
		width: 30%;
		transition: 0.3s;
		transform: translate(0,270px);
	}
	form {
		
		display: flex;
		flex-direction: column;
		width: 87%;
		margin: clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem) auto clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem) auto;
		row-gap: clamp(1.25rem, 1.084rem + 0.53vw, 1.563rem);
		
	}

	&__input {
		border: 1px solid rgba(128, 128, 128, 0.328);
		border-radius:3px;
		padding: 7px 10px;
		font-size: clamp(0.938rem, 0.838rem + 0.32vw, 1.125rem);
	}

	&__check {
		display: flex;
		align-items: center;
		label {
			margin-left: 3px;
		}
	}

	&__button {
		padding: clamp(0.625rem, 0.459rem + 0.53vw, 0.938rem) 7px;
		border-radius: 5px;
		background: var(--accent-color);
		color: white;
		font-size: clamp(0.938rem, 0.838rem + 0.32vw, 1.125rem);
	}

	&__forget {
		text-align: center;
	}
	&__close{
		top: -8%;
		right: -8%;
		display: block;
		position: absolute;
		cursor: pointer;
		width: 27px;
		height: 20px;
		&::before {
			content: '';
			width: 100%;
			height: 13%;
			background: rgb(220, 220, 220);
			position: absolute;
			top: 50%;
			transform: rotate(45deg) translate(0,-50%);
			left: 0;
		}
		&::after {
			content: '';
			width: 100%;
			height: 13%;
			background: rgb(220, 220, 220);
			position: absolute;
			transform: rotate(-45deg) translate(0,100%);
			bottom: 50%;
			left: 0;
		}
		&:hover {
			&::before {
				box-shadow: 1px 1px 8px 1px rgba(203,  203,  203, 0.57);
			}
			&::after {
				box-shadow: 1px 1px 8px 1px rgba(203,  203,  203, 0.57);
			}
		}
	}
}

.modal-1.active{
	visibility: visible;
	opacity: 1;
	.modal-1__body {
		transform: translate(0,0);
	}
}

.tabs {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2,1fr);
	&__one,&__two {
		font-size: clamp(1.25rem, 0.918rem + 1.06vw, 1.875rem);
		padding: 10px 15px;
		text-align: center;
		background: rgba(128, 128, 128, 0.459);
		color: gray;
		&:hover {
			transition: 0.3s;
			background: rgb(220, 220, 220);
		}
		
	}
	&__one {
		border-radius: 5px 0 0 0;
		&:target {
			background: red;
		}
	}

	&__two {
		border-radius: 0 5px 0 0;
	}
	&__active {
		background: white;
		color: black;
		&:hover {
			transition: 0;
			background:none;
		}
	}
	
}



@media(max-width:1500px) {
	.modal-1 {

		&__body {
			width: 40%;
		}
	}
}

@media(max-width:1200px) {
	.modal-1 {

		&__body {
			width: 50%;
		}
	}
}

@media(max-width:868px) {
	.modal-1 {
		
		&__body {
			width: 80%;
		}
	}
}