@include desktop {
	.features {
		&__container {
			padding-top: 100px;
			padding-bottom: 50px;
		}
		&__image {
			max-width: 100%;
			height: 550px;
		}
		&__heading {
			font-size: 40px;
		}
		&__block {
			row-gap: 20px;
		}
		&__item-title {
			margin: 13px 0;
		}
	}
	.features-2 .features {
		&__image {
			justify-self: end;
		}
	}
}

@include laptop {
	.features {
		&__container {
			grid-template-columns: repeat(1, 1fr);
			grid-row-gap: 55px;
			text-align: center;
			padding-top: 70px;
			padding-bottom: 40px;
			padding-left: 22px;
			padding-right: 22px;
		}
		&__item-up {
			margin: 0 auto;
		}
		&__item-title {
			margin-top: 10px;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 38px;
		}
		&__image {
			margin: 0 auto;
			max-width: 100%;
			max-height: 400px;
		}
		&__block {
			row-gap: 25px;
		}
	}
}

@include tablet {
	.features {
		&__container {
			padding-top: 40px;
		}

		h2 {
			font-size: 33px;
		}
		&__items {
			flex-direction: column;
			max-width: 80%;
			margin: 25px auto 0 auto;
			row-gap: 40px;
		}
		&__item-title {
			margin-top: 8px;
			margin-bottom: 20px;
		}
	}
}

@include mobile {
	.features {
		&__image {
			height: 315px;
		}
	}
}
