.cta {
	overflow: hidden;
	background-image: url('../img/CTA-Section.jpg');
	background-repeat: no-repeat;

	background-position: 50% 0%;
	&__block {
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
		padding-top: 128px;
		padding-bottom: 480px;
	}

	&__title {
		@include raleway-text(48px, 120%, $base-color-text, 700);
	}

	&__text {
		@include raleway-text(20px, 150%, $base-color-text, 400);
		max-width: 650px;
		margin: 0 auto;
	}

	&__button {
		@include raleway-text(16px, 150%, #ffffff, 700);
		background: $accent-color;
		margin: 0 auto;
		padding: 12px 24px;
		border-radius: 4px;
	}
}
