.header {
	&__down {
		padding: 145px 0 240px 0;
	}

	&__content {
		width: 40%;
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}

	&__title {
		@include raleway-text(48px, 120%, $base-color-text, 700);
	}

	&__text {
		@include raleway-text(20px, 150%, #612b00, 400);
	}

	&__button-2 {
		@include raleway-text(16px, 150%, #ffffff, 700);
		background-color: $accent-color;
		padding: 12px 24px;
		border-radius: 4px;
		display: inline;
		max-width: 133px;
		transition: background-color 0.1s;
		&:hover {
			background: #d27101;
		}
	}
}
