@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.modal form button, .modal form input,
.modal form textarea, .header__button, .header__nav ul li a {
  font-family: "Raleway";
  font-style: normal;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 12px;
}

.header {
  background: url("../img/header-bg.jpg");
}

.header__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  display: flex;
  align-items: center;
}
.header__nav ul * + * {
  margin-left: 32px;
}
.header__nav ul li a {
  font-size: 16px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
  transition: text-shadow 0.3s;
}
.header__nav ul li a:hover {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}
.header__button {
  font-size: 16px;
  line-height: 150%;
  color: white;
  font-weight: 700;
  background-color: #c4730a;
  padding: 12px 24px;
  border: 1px solid #c4730a;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-property: background-color, border, color;
}
.header__button:hover {
  border: 1px solid #e18813;
  background-color: #e18813;
  color: rgb(241, 241, 241);
}

.header__burger {
  display: none;
  width: 42px;
  height: 36px;
  position: relative;
  background-color: rgba(28, 28, 28, 0);
}
.header__burger span {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #393939;
  border-radius: 10px;
  transition-property: opacity, visibility, transform, top;
  transition-duration: 0.2s, 0.2s, 0.4s, 0.4s;
}
.header__burger span:nth-child(1) {
  top: 0;
  left: 0;
}
.header__burger span:nth-child(2) {
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.header__burger span:nth-child(3) {
  top: 85%;
  left: 0;
}
.header__burger.close span:nth-child(1) {
  top: 46%;
  transform: rotate(45deg);
}
.header__burger.close span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.header__burger.close span:nth-child(3) {
  top: 46%;
  transform: rotate(-45deg);
}

@media (max-width: 1200px) {
  .header__up {
    padding: 20px 0px;
  }
  .header__logo {
    width: 190px;
  }
  .header__button {
    padding: 10px 22px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    width: 180px;
  }
  .header__nav {
    display: none;
  }
  .header__burger {
    display: block;
  }
}
@media (max-width: 768px) {
  .header__burger {
    width: 39px;
    height: 33px;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 170px;
  }
  .header__burger {
    width: 35px;
    height: 29px;
  }
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
}
.modal__bg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5647058824);
}
.modal__body {
  overflow: auto;
  background: white;
  margin: 5px 10px;
  display: flex;
  align-items: end;
  flex-direction: column;
  row-gap: 25px;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  width: 700px;
  max-height: 100%;
  z-index: 15;
}
.modal__button-close {
  position: relative;
  width: 30px;
  min-height: 24px;
  background-color: rgba(28, 28, 28, 0);
}
.modal__button-close span {
  position: absolute;
  width: 100%;
  height: 12%;
  background: #393939;
  border-radius: 10px;
  left: 0;
}
.modal__button-close span:nth-child(1) {
  top: 46%;
  transform: rotate(45deg);
}
.modal__button-close span:nth-child(2) {
  top: 46%;
  transform: rotate(-45deg);
}
.modal form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  height: auto;
  width: 100%;
}
.modal form input,
.modal form button,
.modal form textarea {
  padding: 10px 7px;
  border-radius: 3px;
}
.modal form input,
.modal form textarea {
  border: 1px solid rgb(200, 200, 200);
  font-size: 18px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
}
.modal form button {
  border: 1px solid #df8928;
  background-color: #df8928;
  font-size: 18px;
  line-height: 150%;
  color: white;
  font-weight: 400;
}
.modal form textarea {
  resize: none;
}

.modal {
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
}
.modal__bg {
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 0;
}
.modal__body {
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transform: translateY(15%);
  opacity: 0;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__body {
  opacity: 1;
  transform: translateY(0);
}
.modal.open .modal__bg {
  opacity: 1;
}

.modal.closing .modal__body {
  opacity: 0;
}
.modal.closing .modal__bg {
  opacity: 0;
}

@media (max-width: 992px) {
  .modal__body {
    row-gap: 12px;
    padding: 15px 20px;
  }
  .modal form {
    row-gap: 20px;
  }
  .modal form input,
  .modal form textarea,
  .modal form button {
    font-size: 17px;
    padding: 8px 5px;
  }
}