@charset "UTF-8";
/*			Обнуление			*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.modal form button, .modal form input,
.modal form textarea, .footer__copyright, .footer__down-list li a, .footer__list li a, .contact__item-address, .contact__item-title, .contact__head h2, .contact__head p, .app__text, .app__title, .cta__button, .cta__text, .cta__title, .testimonial__item blockquote, .features__item-text, .features__item-title, .features__heading, .features__title, .banner__item, .clients__title, .header__button-2, .header__text, .header__title, .header__button, .header__nav ul li a {
  font-family: "Raleway";
  font-style: normal;
}

.testimonial__item h4, .testimonial__item cite {
  font-family: "Roboto";
  font-style: normal;
}

.modal__bg, .clients__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__buttons.anim-on, .app__block.anim-on, .cta__block.anim-on, .testimonial__item:nth-child(3).anim-on, .testimonial__item:nth-child(2).anim-on, .testimonial__item:nth-child(1).anim-on, .features-2 .features__container .features__block.anim-on, .features-2 .features__container img.anim-on, .features-1 .features__container .features__block.anim-on, .features-1 .features__container img.anim-on, .clients__container img.anim-on, .clients__title.anim-on, .header__burger.anim-on, .header__nav.anim-on, .header__circle.anim-on, .header__content.anim-on, .header__logo.anim-on {
  opacity: 1;
  transform: translate(0, 0);
}

.app__block, .testimonial__item:nth-child(1), .features-2 .features__container .features__block, .features-1 .features__container img, .header__content, .header__logo {
  transform: translate(-50%, 0);
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  opacity: 0;
}

.app__buttons, .testimonial__item:nth-child(3), .features-2 .features__container img, .features-1 .features__container .features__block, .header__burger, .header__nav {
  transform: translate(50%, 0);
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  opacity: 0;
}

.cta__block, .clients__title {
  transform: translate(0, -50%);
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  opacity: 0;
}

.testimonial__item:nth-child(2) {
  transform: translate(0, 50%);
  transition-property: transform, opacity;
  transition-duration: 0.8s;
  opacity: 0;
}

.clients__container img {
  transition-property: opacity;
  transition-duration: 0.8s;
  opacity: 0;
}

.container {
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 12px;
}

@media (max-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
.header {
  overflow: hidden;
  background: url("../img/header-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
}
.header__circle {
  position: absolute;
  width: 66%;
  height: 200%;
  left: -300px;
  box-shadow: 64.8409px 4.54508px 402px rgba(158, 158, 158, 0.16), 42.0265px 2.94588px 235.431px rgba(158, 158, 158, 0.121481), 24.9758px 1.7507px 128.044px rgba(158, 158, 158, 0.0971852), 12.9682px 0.909015px 65.325px rgba(158, 158, 158, 0.08), 5.28333px 0.37034px 32.7556px rgba(158, 158, 158, 0.0628148), 1.20076px 0.0841681px 15.8194px rgba(158, 158, 158, 0.0385185);
  top: -50%;
  background: white;
  border-radius: 50%;
}
.header__container * {
  z-index: 3;
}

.header__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0px;
}
.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav ul {
  display: flex;
  align-items: center;
}
.header__nav ul * + * {
  margin-left: 32px;
}
.header__nav ul li a {
  font-size: 16px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
  transition: text-shadow 0.3s;
}
.header__nav ul li a:hover {
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}
.header__button {
  font-size: 16px;
  line-height: 150%;
  color: white;
  font-weight: 700;
  background-color: #df8928;
  padding: 12px 24px;
  margin-left: 32px;
  border: 1px solid #c4730a;
  border-radius: 4px;
  transition-duration: 0.2s;
  transition-property: background-color, border, color;
}
.header__button:hover {
  border: 1px solid #d27101;
  background-color: #d27101;
}

.header__down {
  padding: 145px 0 240px 0;
}
.header__content {
  width: 40%;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.header__title {
  font-size: 48px;
  line-height: 120%;
  color: #4b4b4b;
  font-weight: 700;
}
.header__text {
  font-size: 20px;
  line-height: 150%;
  color: #612b00;
  font-weight: 400;
}
.header__button-2 {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  font-weight: 700;
  background-color: #df8928;
  padding: 12px 24px;
  border-radius: 4px;
  display: inline;
  max-width: 133px;
  transition: background-color 0.1s;
}
.header__button-2:hover {
  background: #d27101;
}

.header__burger {
  display: none;
  width: 42px;
  height: 36px;
  position: relative;
  background-color: rgba(28, 28, 28, 0);
}
.header__burger span {
  position: absolute;
  width: 100%;
  height: 15%;
  background: #393939;
  border-radius: 10px;
  transition-property: opacity, visibility, transform, top;
  transition-duration: 0.2s, 0.2s, 0.4s, 0.4s;
}
.header__burger span:nth-child(1) {
  top: 0;
  left: 0;
}
.header__burger span:nth-child(2) {
  transform: translateY(-50%);
  top: 50%;
  left: 0;
}
.header__burger span:nth-child(3) {
  top: 85%;
  left: 0;
}
.header__burger.close span:nth-child(1) {
  top: 46%;
  transform: rotate(45deg);
}
.header__burger.close span:nth-child(2) {
  opacity: 0;
  visibility: hidden;
}
.header__burger.close span:nth-child(3) {
  top: 46%;
  transform: rotate(-45deg);
}

@media (max-width: 992px) {
  .header__nav {
    opacity: 0;
    position: fixed;
    flex-direction: column;
    right: -100%;
    width: 100%;
    max-height: 80%;
    background: white;
    z-index: 5;
    overflow: auto;
    transition-property: right, opacity;
    transition-duration: 0.6s, 0.25s;
  }
  .header__nav ul {
    background: white;
    width: 100%;
    flex-direction: column;
  }
  .header__nav ul > li + li {
    margin-left: 0;
  }
  .header__nav ul li {
    width: 100%;
    text-align: center;
  }
  .header__nav.open {
    opacity: 1;
    right: 0;
  }
  .header__nav ul li a, .header__button {
    display: block;
    padding: 20px 0;
    width: 100%;
    margin-left: 0;
    border-top: 1px solid rgb(161, 161, 161);
    background: #ffffff;
    border-radius: 0;
  }
  .header__nav ul li a:hover, .header__button:hover {
    text-shadow: none;
    background: #eaeaea;
  }
  .header__button {
    padding: 20px 0;
    font-size: 16px;
    line-height: 150%;
    color: #4b4b4b;
    font-weight: 400;
    border-bottom: 1px solid rgb(161, 161, 161);
    border-left: none;
    border-right: none;
  }
  .header__button:hover {
    color: #4b4b4b;
    border-top: 1px solid rgb(161, 161, 161);
    border-bottom: 1px solid rgb(161, 161, 161);
  }
}
@media (max-width: 1400px) {
  .header__circle {
    left: -240px;
  }
}
@media (max-width: 1200px) {
  .header__circle {
    left: -130px;
  }
  .header__up {
    padding: 20px 0px;
  }
  .header__logo {
    width: 190px;
  }
  .header__down {
    padding: 110px 0 190px 0;
  }
  .header__content {
    width: 50%;
  }
  .header__title {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .header {
    background: url("../img/header-bg-mobile.jpg") 0 0 no-repeat;
  }
  .header__circle {
    display: none;
  }
  .header__logo {
    width: 180px;
  }
  .header__burger {
    display: block;
  }
  .header__down {
    padding: 90px 0 170px 0;
  }
  .header__content {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .header__title {
    font-size: 36px;
  }
  .header__text {
    font-size: 18px;
  }
  .header__button-2 {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .header__burger {
    width: 39px;
    height: 33px;
  }
  .header__down {
    padding: 75px 0 150px 0;
  }
  .header__title {
    font-size: 32px;
  }
  .header__text {
    font-size: 17px;
  }
}
@media (max-width: 576px) {
  .header__logo {
    width: 170px;
  }
  .header__burger {
    width: 35px;
    height: 29px;
  }
  .header__down {
    padding: 70px 0 136px 0;
  }
  .header__title {
    font-size: 28px;
  }
  .header__text {
    font-size: 16px;
  }
}
.clients__container {
  row-gap: 120px;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 198px;
}
.clients__title {
  font-size: 24px;
  line-height: 140%;
  color: #4b4b4b;
  font-weight: 700;
}
.clients ul {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  grid-row-gap: 140px;
  grid-column-gap: 78px;
}
.clients ul img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .clients__container {
    padding-top: 100px;
    padding-bottom: 135px;
    row-gap: 100px;
  }
  .clients__title {
    font-size: 22px;
  }
  .clients ul {
    grid-row-gap: 105px;
    grid-column-gap: 55px;
  }
}
@media (max-width: 992px) {
  .clients__container {
    padding-top: 80px;
    padding-bottom: 100px;
    row-gap: 65px;
  }
  .clients__title {
    text-align: center;
    font-size: 20px;
  }
  .clients ul {
    grid-row-gap: 80px;
    grid-column-gap: 40px;
  }
}
@media (max-width: 768px) {
  .clients__container {
    padding-top: 64px;
    padding-bottom: 64px;
    row-gap: 50px;
  }
  .clients__title {
    font-size: 18px;
  }
  .clients ul {
    grid-row-gap: 80px;
  }
}
.banner {
  background: #f3f3f3;
}
.banner__container {
  max-width: 1100px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(9, auto);
  align-items: center;
  justify-content: space-between;
}
.banner__item {
  font-size: 24px;
  line-height: 140%;
  color: #5e5e5e;
  font-weight: 700;
}
.banner__circle {
  width: 11.5px;
  height: 11.5px;
  border-radius: 50%;
  background: #5e5e5e;
}

@media (max-width: 1200px) {
  .banner__container {
    max-width: 550px;
    grid-template-columns: repeat(5, auto);
    max-width: 800px;
    grid-row-gap: 15px;
  }
  .banner__container div:nth-child(6) {
    opacity: 0;
  }
  .banner__circle {
    justify-self: center;
  }
  .banner__item {
    font-size: 19px;
  }
}
@media (max-width: 576px) {
  .banner__container {
    grid-template-columns: repeat(3, auto);
    grid-row-gap: 10px;
    max-width: 400px;
  }
  .banner__container div {
    text-align: center;
  }
  .banner__container div:nth-child(4) {
    display: none;
  }
  .banner__container div:nth-child(6) {
    opacity: 1;
  }
  .banner__container div:nth-child(8) {
    opacity: 0;
  }
}
.features__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  align-items: center;
  padding-top: 160px;
  padding-bottom: 64px;
}
.features__image {
  height: 640px;
  max-width: 100%;
  border-radius: 4px 4px 1000px 4px;
}
.features__block {
  display: flex;
  row-gap: 29px;
  flex-direction: column;
}
.features__title {
  font-size: 24px;
  line-height: 150%;
  color: #df8928;
  font-weight: 700;
}
.features__heading {
  font-size: 48px;
  line-height: 120%;
  color: #4b4b4b;
  font-weight: 700;
}
.features__items {
  display: flex;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.features__item {
  display: flex;
  flex-direction: column;
}
.features__item-up {
  display: flex;
}
.features__circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #df8928;
}
.features__item-title {
  margin-top: 16px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 140%;
  color: #4b4b4b;
  font-weight: 700;
}
.features__item-text {
  font-size: 16px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
}

.features-2 .features__container {
  padding-top: 60px;
}
.features-2 .features__block {
  order: -1;
}
.features-2 .features__image {
  border-radius: 1000px 4px 4px 4px;
}

@media (max-width: 1200px) {
  .features__container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .features__image {
    max-width: 100%;
    height: 550px;
  }
  .features__heading {
    font-size: 40px;
  }
  .features__block {
    row-gap: 20px;
  }
  .features__item-title {
    margin: 13px 0;
  }
  .features-2 .features__image {
    justify-self: end;
  }
}
@media (max-width: 992px) {
  .features__container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 55px;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 40px;
    padding-left: 22px;
    padding-right: 22px;
  }
  .features__item-up {
    margin: 0 auto;
  }
  .features__item-title {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .features h2 {
    font-size: 38px;
  }
  .features__image {
    margin: 0 auto;
    max-width: 100%;
    max-height: 400px;
  }
  .features__block {
    row-gap: 25px;
  }
}
@media (max-width: 768px) {
  .features__container {
    padding-top: 40px;
  }
  .features h2 {
    font-size: 33px;
  }
  .features__items {
    flex-direction: column;
    max-width: 80%;
    margin: 25px auto 0 auto;
    row-gap: 40px;
  }
  .features__item-title {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .features__image {
    height: 315px;
  }
}
.testimonial__content {
  padding: 112px 0;
  display: flex;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
.testimonial__item {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  flex: 1 1 auto;
}
.testimonial__item img {
  margin: 0 auto;
}
.testimonial__item cite {
  font-size: 16px;
  line-height: 150%;
  color: black;
  font-weight: 600;
  margin-top: 16px;
}
.testimonial__item h4 {
  font-size: 16px;
  line-height: 150%;
  color: black;
  font-weight: 400;
  margin-bottom: 24px;
}
.testimonial__item blockquote {
  font-size: 20px;
  line-height: 150%;
  color: black;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .testimonial__content {
    padding: 75px 0;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 992px) {
  .testimonial__content {
    padding: 55px 0;
    flex-direction: column;
    row-gap: 48px;
  }
  .testimonial__item {
    margin: 0 auto;
    max-width: 700px;
  }
}
@media (max-width: 768px) {
  .testimonial__content {
    padding: 38px 0;
  }
}
.cta {
  overflow: hidden;
  background-image: url("../img/CTA-Section.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.cta__block {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-top: 128px;
  padding-bottom: 480px;
}
.cta__title {
  font-size: 48px;
  line-height: 120%;
  color: #4b4b4b;
  font-weight: 700;
}
.cta__text {
  font-size: 20px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
  max-width: 650px;
  margin: 0 auto;
}
.cta__button {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  font-weight: 700;
  background: #df8928;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 4px;
}

.app {
  background: #df8928;
}
.app__container {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__block {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  max-width: 600px;
}
.app__title {
  font-size: 32px;
  line-height: 120%;
  color: #fcf6f0;
  font-weight: 700;
}
.app__text {
  font-size: 20px;
  line-height: 150%;
  color: #fcf6f0;
  font-weight: 400;
}
.app__buttons {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  flex-wrap: wrap;
  margin: 0 auto;
  row-gap: 16px;
  justify-content: center;
}
.app__buttons a {
  display: inline-block;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .app__container {
    flex-direction: column;
    row-gap: 36px;
    text-align: center;
  }
}
.contact__container {
  padding-top: 128px;
  padding-bottom: 160px;
}
.contact__head p {
  font-size: 24px;
  line-height: 150%;
  color: #df8928;
  font-weight: 700;
}
.contact__head h2 {
  margin-top: 16px;
  font-size: 48px;
  line-height: 120%;
  color: #4b4b4b;
  font-weight: 700;
}
.contact__block {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  align-items: center;
}
.contact__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-row-gap: 40px;
}
.contact__item-title {
  font-size: 32px;
  line-height: 120%;
  color: #4b4b4b;
  font-weight: 700;
  margin: 10px 0;
}
.contact__item-address {
  font-size: 15px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
}

@media (max-width: 1400px) {
  .contact__container {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}
@media (max-width: 1200px) {
  .contact__container {
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .contact__map iframe {
    width: 564px;
    height: 387px;
  }
}
@media (max-width: 992px) {
  .contact__block {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
  .contact__head {
    text-align: center;
  }
  .contact__left {
    row-gap: 40px;
  }
  .contact__map {
    padding: 0 20px;
  }
  .contact__map iframe {
    margin-top: 65px;
    width: 100%;
    height: 500px;
  }
  .contact__left {
    margin: 0 auto;
  }
  .contact__item {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contact__container {
    padding-top: 68px;
    padding-bottom: 68px;
  }
  .contact__block {
    margin-top: 36px;
  }
  .contact__map {
    padding: 0 0px;
  }
  .contact__map iframe {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 576px) {
  .contact__container {
    padding: 48px 10px;
  }
  .contact__map iframe {
    height: 300px;
  }
  .contact__block {
    margin-top: 36px;
  }
}
.footer {
  background: #4b4b4b;
}
.footer__container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}
.footer__media {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  align-items: center;
}
.footer__list li a {
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  font-weight: 700;
}
.footer__down {
  margin-top: 80px;
  border-top: 1px solid #5e5e5e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer__down-list {
  margin-top: 32px;
  display: flex;
}
.footer__down-list li a {
  font-size: 14px;
  line-height: 150%;
  color: #f3f3f3;
  font-weight: 400;
}
.footer__down-list > li + li {
  margin-left: 24px;
}
.footer__copyright {
  margin-top: 32px;
  font-size: 14px;
  line-height: 150%;
  color: #f3f3f3;
  font-weight: 400;
}

@media (max-width: 992px) {
  .footer__copyright, .footer__down-list {
    justify-content: center;
    margin: 20px auto;
    flex-basis: 100%;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .footer__up {
    flex-wrap: wrap;
    row-gap: 36px;
  }
  .footer__up > * {
    text-align: center;
    flex-basis: 100%;
    margin: 0 auto;
  }
  .footer__list {
    margin: 0 auto;
  }
  .footer__logo {
    max-width: 286px;
  }
  .footer__down {
    margin-top: 55px;
  }
  .footer__media {
    justify-content: center;
  }
}
.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 8;
}
.modal__bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5647058824);
  z-index: 9;
}
.modal__body {
  overflow: auto;
  background: white;
  margin: 5px 10px;
  display: flex;
  align-items: end;
  flex-direction: column;
  row-gap: 25px;
  border-radius: 10px;
  padding: 15px 20px 20px 20px;
  width: 700px;
  max-height: 100%;
  z-index: 15;
}
.modal__button-close {
  position: relative;
  width: 30px;
  min-height: 24px;
  background-color: rgba(28, 28, 28, 0);
}
.modal__button-close span {
  position: absolute;
  width: 100%;
  height: 12%;
  background: #393939;
  border-radius: 10px;
  left: 0;
}
.modal__button-close span:nth-child(1) {
  top: 46%;
  transform: rotate(45deg);
}
.modal__button-close span:nth-child(2) {
  top: 46%;
  transform: rotate(-45deg);
}
.modal form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  height: auto;
  width: 100%;
}
.modal form input,
.modal form button,
.modal form textarea {
  padding: 10px 7px;
  border-radius: 3px;
}
.modal form input,
.modal form textarea {
  border: 1px solid rgb(200, 200, 200);
  font-size: 18px;
  line-height: 150%;
  color: #4b4b4b;
  font-weight: 400;
}
.modal form button {
  border: 1px solid #df8928;
  background-color: #df8928;
  font-size: 18px;
  line-height: 150%;
  color: white;
  font-weight: 400;
}
.modal form textarea {
  resize: none;
}

.modal {
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
}
.modal__bg {
  transition-property: opacity;
  transition-duration: 0.4s;
  opacity: 0;
}
.modal__body {
  transition-property: opacity, transform;
  transition-duration: 0.5s;
  transform: translateY(15%);
  opacity: 0;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}
.modal.open .modal__body {
  opacity: 1;
  transform: translateY(0);
}
.modal.open .modal__bg {
  opacity: 1;
}

.modal.closing .modal__body {
  opacity: 0;
}
.modal.closing .modal__bg {
  opacity: 0;
}

@media (max-width: 992px) {
  .modal__body {
    row-gap: 12px;
    padding: 15px 20px;
  }
  .modal form {
    row-gap: 20px;
  }
  .modal form input,
  .modal form textarea,
  .modal form button {
    font-size: 17px;
    padding: 8px 5px;
  }
}
@media (max-width: 992px) {
  .header__content {
    transform: translate(0, 50%);
  }
}
.header__circle {
  transform: translate(-30%, 0);
  transition-property: transform, opacity;
  transition-duration: 0.8s, 0.8s;
  opacity: 0;
}
.features-1 .features {
  overflow: hidden;
}
.testimonial {
  overflow: hidden;
}
@media (min-width: 2150px) {
  .cta {
    background-size: 130% 190%;
    background-position: 50% 15%;
  }
  .cta.anim-on {
    background-size: 100% 130%;
  }
}
.cta {
  background-size: 130% 150%;
  transition-property: background-size;
  transition-duration: 2.5s;
}

@media (max-width: 1400px) {
  .cta {
    background-size: 190% 160%;
    background-position: 50% 0%;
  }
  .cta__block {
    padding-top: 108px;
    padding-bottom: 430px;
  }
  .cta.anim-on {
    background-size: 140% 120%;
  }
}
@media (max-width: 1200px) {
  .cta {
    background-size: auto 133%;
    background-position: 50% -5%;
  }
  .cta__block {
    padding-top: 118px;
    padding-bottom: 390px;
  }
  .cta.anim-on {
    background-size: auto 133%;
  }
}
@media (max-width: 992px) {
  .cta {
    background-size: auto 133%;
    background-position: 50% -5%;
  }
  .cta__title {
    font-size: 32px;
  }
  .cta__block {
    padding-top: 80px;
    padding-bottom: 333px;
  }
}
@media (max-width: 768px) {
  .cta {
    background-size: auto 133%;
    background-position: 50% -5%;
  }
  .cta__title {
    font-size: 40px;
  }
  .cta__block {
    padding-top: 100px;
    padding-bottom: 370px;
  }
}
@media (max-width: 576px) {
  .cta__block {
    padding-top: 48px;
    padding-bottom: 283px;
  }
}
main section {
  overflow: hidden;
}